/* start normalization */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --font-large: 4em;
    --font-medium: 2.5em;
    --font-small: 1.1em;
    --font-xs-small: 0.9em;
    --font-xx-small: 0.7em;
    --font-xxx-small: 0.5em;

    --first-clr: #795aa5;
    --second-clr: #1199FA;
    --third-clr: #1199FA;
    --fourth-clr: #ffffff;

    --bg-clr : #010118;
    --bg-clr2 : #0B1426;

    --dark-clr: #353835;
    --light-clr: #F7F9FA;

    --hover-clr: #23273A;

    --padding-totally: 0 5%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: Roboto, sans-serif;
    background-color: var(--bg-clr);
}
/* end normalization */

/* start header */
/* start navbar */
.navbar nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-totally);
    background-color: var(--bg-clr2);
    position: fixed;
}
.navbar nav > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    width: 150px;
    height: 70px;
}
.navbar nav > div > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.navbar nav > div > ul > li > p {
    color: var(--light-clr);
    opacity: .6;
    font-size: var(--font-xs-small);
    line-height: 70px;
    transition: all .3s ease-in-out;
}
.navbar nav ul li.level_up p {
    color: var(--second-clr) !important;
    opacity: 1 !important;
}
.navbar nav ul li.level_up p a {
    color: var(--second-clr) !important;
}
.navbar nav ul li p a::after {
    content: 'NEW';
    color: var(--light-clr);
    font-size: var(--font-xx-small);
    background-color: var(--second-clr);
    padding: 5px 8px;
    border-radius: 10px;
    margin-left: 10px;
}
.navbar nav > div > ul > li > p:hover {
    cursor: pointer;
    opacity: 1;
}
.navbar nav button div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.navbar nav button {
    border: 1.5px solid rgba(17, 153, 249, 0.5);
    border-radius: 40px;
    font-size: var(--font-xs-small);
    background-color: var(--bg-clr);
    color: var(--light-clr);
    padding: 10px 15px;
}
.navbar nav button:hover {
    background-color: var(--hover-clr);
    cursor: pointer;
}
.geolocation {
    width: 20px;
    height: 20px;
    opacity: .6;
}
.navbar img:hover {
    cursor: pointer;
    opacity: 1;
}

/* start mega_menu */
.mega_menu {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--bg-clr2);
    padding: 20px 10%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    
    opacity: 0;
    visibility: hidden;

    transition: all .3s ease-in-out;
}
.navbar nav > div > ul > li:hover > .mega_menu {
    opacity: 1 !important;
    visibility: visible !important;
}
.mega_menu ul li {
    padding: 10px 0;
}
.mega_menu h4 {
    color: var(--light-clr);
    font-size: var(--font-xs-small);
    opacity: .6;
}
.mega_menu div {
    display: flex;
    align-items: end;
    gap: 5px;
    padding-bottom: 5px;
}
.mega_menu h3 a {
    color: var(--light-clr);
    font-size: var(--font-small);
}
.mega_menu span {
    color: var(--second-clr);
    font-size: var(--font-xx-small);
    font-weight: bolder;
} 
.mega_menu p {
    color: var(--light-clr);
    opacity: .6;
    font-size: var(--font-xx-small);
}
.coming_soon::after {
    content: 'coming soon';
    color: var(--second-clr);
    font-size: var(--font-xx-small);
    background-color: rgba(17, 153, 249, 0.2);
    padding: 3px;
    border-radius: 10px;
    font-weight: bolder;
}
/* end mega_menu */
/* end navbar */
/* end header */