/* start normalization */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --font-large: 4em;
  --font-medium: 2em;
  --font-pre-medium: 1.5em;
  --font-small: 1.1em;
  --font-xs-small: 0.9em;
  --font-xx-small: 0.7em;
  --font-xxx-small: 0.5em;

  --first-clr: #795aa5;
  --second-clr: #1199fa;
  --third-clr: #1FB59F;
  --fourth-clr: #ADB2CD;

  --bg-clr: #010118;
  --bg-clr2: #0b1426;

  --dark-clr: #353835;
  --light-clr: #f7f9fa;

  --hover-clr: #23273a;

  --padding-totally: 0 5%;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: Roboto, sans-serif;
  background-color: var(--bg-clr);
}

.fix_space {
  height: 70px;
  background-color: transparent;
}
/* end normalization */

/* start header */
/* start navbar */
.navbar nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-totally);
  background-color: var(--bg-clr2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000 !important;
}
.navbar nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  width: 150px;
  height: 70px;
}
.navbar nav > div > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navbar nav > div > ul > li > p {
  color: var(--light-clr);
  opacity: 0.6;
  font-size: var(--font-xs-small);
  line-height: 70px;
  transition: all 0.3s ease-in-out;
}
.navbar nav ul li.level_up p {
  color: var(--second-clr) !important;
  opacity: 1 !important;
}
.navbar nav ul li.level_up p a {
  color: var(--second-clr) !important;
}
.navbar nav ul li p a::after {
  content: "NEW";
  color: var(--light-clr);
  font-size: var(--font-xx-small);
  background-color: var(--second-clr);
  padding: 5px 8px;
  border-radius: 10px;
  margin-left: 10px;
}
.navbar nav > div > ul > li > p:hover {
  cursor: pointer;
  opacity: 1;
}
.navbar nav button div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.navbar nav button {
  border: 1.5px solid rgba(17, 153, 249, 0.5);
  border-radius: 40px;
  font-size: var(--font-xs-small);
  background-color: var(--bg-clr);
  color: var(--light-clr);
  padding: 10px 15px;
  outline: none;
}
.navbar nav button:hover {
  background-color: var(--hover-clr);
  cursor: pointer;
}
.geolocation {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}
.navbar img:hover {
  cursor: pointer;
  opacity: 1;
}

/* start mega_menu */
.under_mega_menu {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 99 !important;
  backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease-in-out;
}
.mega_menu {
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 100 !important;
  background-color: var(--bg-clr2);
  padding: 20px 10%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease-in-out;
}
.navbar nav > div > ul > li:hover > .under_mega_menu,
.navbar nav > div > ul > li:hover > .mega_menu {
  opacity: 1 !important;
  visibility: visible !important;
}
.mega_menu ul li {
  padding: 10px 0;
}
.mega_menu h4 {
  color: var(--light-clr);
  font-size: var(--font-xs-small);
  opacity: 0.6;
}
.mega_menu div {
  display: flex;
  align-items: end;
  gap: 5px;
  padding-bottom: 5px;
}
.mega_menu h3 a {
  color: var(--light-clr);
  font-size: var(--font-small);
}
.mega_menu span {
  color: var(--second-clr);
  font-size: var(--font-xx-small);
  font-weight: bolder;
}
.mega_menu p {
  color: var(--light-clr);
  opacity: 0.6;
  font-size: var(--font-xx-small);
}
.coming_soon::after {
  content: "coming soon";
  color: var(--second-clr);
  font-size: var(--font-xx-small);
  background-color: rgba(17, 153, 249, 0.2);
  padding: 3px;
  border-radius: 10px;
  font-weight: bolder;
}
/* end mega_menu */
/* end navbar */
/* start hero_section  */
/* start hero_items */
.hero_items {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 250px;
  z-index: 1 !important;
}
.hero_items h1 {
  color: var(--light-clr);
  font-size: var(--font-large);
}
.hero_items h2 {
  color: var(--light-clr);
  opacity: 0.6;
  z-index: -1; /* ?//////////////////////////////////???? */
}
.hero_items > div > p {
  color: var(--light-clr);
  font-size: var(--font-small);
  padding: 5px 0;
  text-align: left;
}
.hero_items > div > p::before {
  content: "✔";
  background-color: var(--second-clr);
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
}
.hero_items span {
  color: var(--second-clr);
  font-weight: bolder;
}
.hero_items button div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero_items button {
  border: 1.5px solid var(--light-clr);
  border-radius: 40px;
  font-size: var(--font-small);
  background-color: var(--bg-clr);
  color: var(--light-clr);
  padding: 10px 20px;
  outline: none;
}
.hero_items button img {
  width: 30px;
  height: 30px;
}
.hero_items button:hover {
  cursor: pointer;
}
/* end hero_items */

/* start hero_floating */
.hero_floating {
  display: grid;
  place-items: center;
  margin-top: 150px;
  position: relative;

  /* ??????????????????????????????????????? */
  transform-style: preserve-3d; 
  perspective: 1200px; 
  /* ??????????????????????????????????????? */
  
  margin-bottom: 250px;
}

.hero_floating img {
  width: 470px;
  height: 940px;
  object-fit: contain;
  z-index: 5;

  transform: translateZ(0);

  transition: all 0.2s ease-out;
  
  
}
.hero_floating .under_hero_floating {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 0.5) 10%,
    rgba(1, 1, 24, 0) 65%
  );
}

/* end hero_floating */
/* end hero_section  */
/* end header */

/* start main */
/* start crypto_basket */
.crypto_basket {
  margin: 0 auto;
  height: 500px;
  max-width: 1000px;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.crypto_basket img {
  width: 100%;
  height: 100%;
}
.crypto_basket_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.crypto_basket_items h5 {
  color: var(--second-clr);
  font-size: var(--font-small);
  font-weight: bolder;
}
.crypto_basket_items h2 {
  color: var(--fourth-clr);
  font-size: var(--font-large);
  font-weight: bolder;
}

.crypto_basket_items h3 {
  color: var(--fourth-clr);
  font-size: var(--font-medium);
  font-weight: bolder;
}
main > p {
  color: var(--light-clr);
  font-size: var(--font-xs-small);
  opacity: .6;
  text-align: center;
  margin-top: 20px;
}
.crypto_basket_items button {
  border: 1.5px solid var(--light-clr);
  border-radius: 40px;
  font-size: var(--font-small);
  background-color: var(--light-clr);
  color: var(--bg-clr);
  padding: 10px 40px;
  outline: none;
}
.crypto_basket_items button:hover {
  cursor: pointer;
}
/* end crypto_basket */

/* start price */
/* start price_items */
.price_items  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
  margin: 100px auto;
}
.price_items h3 {
  color: var(--second-clr);
  font-size: var(--font-small);
  font-weight: bolder;
}
.price_items h2 {
  color: var(--light-clr);
  font-size: var(--font-large);
}
.price_items button {
  border: 1.5px solid var(--light-clr);
  border-radius: 40px;
  font-size: var(--font-small);
  background-color: transparent;
  color: var(--light-clr);
  padding: 10px 40px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.price_items button div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.price_items button:hover {
  background-color: var(--bg-clr2);
  cursor: pointer;
}
/* end price_items */
/* start price_table */
.price .price_table {
  padding: var(--padding-totally);
  margin-bottom: 100px;
}
.price_table .price_card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(244, 244, 244, 0.3);
}
.price_card a {
  font-size: var(--font-pre-medium);
  color: var(--light-clr);
  font-weight: bolder;
}
.price_card span {
  font-size: var(--font-small);
  color: var(--light-clr);
  opacity: .6;
}
.price_card p {
  font-size: var(--font-medium);
  color: var(--light-clr);
  font-weight: bolder;
}
.price_card h6 {
  font-size: var(--font-small);
  color: var(--third-clr);
}
.price_card h5 {
  font-size: var(--font-small);
  color: var(--light-clr);
}
.price_card button {
  border: 1.5px solid var(--light-clr);
  border-radius: 40px;
  font-size: var(--font-pre-medium);
  background-color: var(--light-clr);
  color: var(--bg-clr);
  padding: 10px 24px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.price_card button:hover {
  border: 1.5px solid var(--second-clr);
  background-color: transparent;
  color: var(--light-clr);
  cursor: pointer;
}
/* end price_table */
/* end price */
/* end main */